# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

src/theTrueHat
src/problems
src/utils
src/input.txt
src/main.py

